.margin-left {
  margin-left: 15px !important;
}
  
.margin-top {
  margin-top: 15px !important;
}
.big-margin-top {
  margin-top: 30px !important;
}  
.huge-margin-top {
  margin-top: 50px !important;
}
  
.margin-down {
  margin-bottom: 15px !important;
}
.big-margin-down {
  margin-bottom: 30px !important;
}  
.huge-margin-down {
  margin-bottom: 50px !important;
}
  
.flex-direction-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}  

.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}
  
.flex-max-height {
  display: flex;
  flex-grow: 1;
}
  
.flex-normal-height {
  display: flex;
  flex-grow: 0;
}
  
.flex-justifiy-around {
  display: flex;
  justify-content: space-around;
}  

.flex-justifiy-between {
  display: flex;
  justify-content: space-between;
}